:root {
	--primary-pink:#FF4E83;
	--primary-blue: #001845;
	
	--secondary-pink: #FFA5CA;
	--secondary-yellow:#FFCF21;
	--secondary-orange:#FF6C00;
	--secondary-blue:#1A3BE2;
	--secondary-teal:#67D4D5;
	
}

body {
	font-family: 'Spartan', sans-serif;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

#theme {
	display: none;
}

#reveal {
	font-weight: bold;
	font-size: 2rem;
	padding:1rem;
	color: var(--primary-blue);
	background-color: var(--primary-pink);
}
.container {
	width: 425px;
	margin:0 auto;
}

footer {
	font-size: .75rem;
}